<h1>Contact Profile</h1>
<div class="well">
    <div class="float-right">
        <button ng-click="go('/delete?id={{urlvars.id}}')" class="btn float-right profile-deletebutton">Delete</button>
        <button ng-click="go('/edit?id={{urlvars.id}}')" class="btn float-right profile-editbutton">Edit</button>
    </div>
    <h3 class="nomargin">
        {{contact.Prefix}} {{contact.FirstName}} {{contact.LastName}} 
        <label ng-if="contact.Title != ''">-</label> 
        {{contact.Title}}
        <label ng-if="contact.Company != ''">-</label> 
        {{contact.Company}}
    </h3><br /><br />
    <label>Last Modified (Y-M-D):</label> {{contactDate}}
    <br /><br />

    <label>Home Phone:</label> {{contact.HomePhone}} <br />
    <label>Work Phone:</label> {{contact.WorkPhone}} <br />
    <label>Cell Phone:</label> {{contact.CellPhone}} <br />
    <label>Fax:</label> {{contact.Fax}} <br /> <br />

    <label>Email:</label> {{contact.Email}} <br />
    <label>Web Address:</label> {{contact.WebAddress}} <br /> <br />

    <label>Address:</label>  {{contact.Address1}} {{contact.Address2}} {{contact.City}} {{contact.StateRegion}} {{contact.Zip}} {{contact.Country}} <br /> <br />

</div>
<div class="well">

    <label>Additional Info</label> - <br />
    {{contact.AdditionalInfo}}
    <br /> <br /> 

    <label>Notes</label> - <br />
    {{contact.Notes}}
    <br /> <br /> 

    <label>Curbside Notes</label> - <br />
    {{contact.CurbSideNotes}}
</div>
<div class="well">

    <label>Flags -</label><br /><br />
    <label>YMT:</label> {{contact.YMT}}<br />
    <label>Youth Director:</label> {{contact.YouthDirector}}<br />
    <label>Board:</label> {{contact.Board}}<br />
    <label>APT:</label> {{contact.APT}}<br />
    <label>Tree Guardian:</label> {{contact.TreeGuardian}}<br />
    <label>Foster Care:</label> {{contact.FosterCare}}<br />
    <label>Volunteer:</label> {{contact.Volunteer}}<br />
    <label>Small:</label> {{contact.Small}}<br />
    <label>Tall:</label> {{contact.Tall}}<br />

</div>
<div class="well">
    New:<br />
    Date <label>2015-08-25</label> -

    <input type="text" ng-model="newdonation.year" class="input-medium search-query profile-datefield-year" placeholder="4 Digit Year"> <strong>-</strong>

    <input type="text" ng-model="newdonation.month" class="input-medium search-query profile-datefield" placeholder="Month"> <strong>-</strong>

    <input type="text" ng-model="newdonation.day" class="input-medium search-query profile-datefield" placeholder="Day"> 

    <input type="text" ng-model="newdonation.amount" class="input-medium search-query profile-amountfield" placeholder="Amount Without $">

    <button type="submit" class="btn" ng-click="newdonation()">Add</button>

    <table cellspacing="0">
        <tr class="first">
          <th>Date &#x25BC;</th>
          <th>Amount &#x25BC;</th>
          <th>Delete &#x25BC;</th>
        </tr>
        <tr ng-repeat="donation in donations.donations" >
          <td>{{donation.Date}}</td>
          <td>{{donation.Amount}}</td>
          <td ng-click="deletedonation('{{donation.Amount}}', '{{donation.id}}')"><img src="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Editing-Delete-icon.png" style="max-height: 12px;" /></td>
        </tr>
      </table>
</div>