<div>
  <div ng-controller="ContactsDisplayCtrl">
    <h2>Search:</h2>

    <input ng-model="searchText" class="main-searchfield">

    <table cellspacing="0">
      <tr class="first">
        <th class="first" ng-click="changeSorting('id')">ID</th>
        <th ng-click="updateResults('name')">Name</th>
        <th ng-click="updateResults('email1')">H Email</th>
        <th ng-click="updateResults('phone')">H Phone</th>
      </tr>
      <tr ng-repeat="contact in contacts.contacts|orderBy:sort.column:sort.descending | filter:searchText | limitTo:limitquantity" ng-click="go('/profile?id={{contact.id}}')">
      <a href="test">
        <td class="first">{{contact.id}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.hemail}}</td>
        <td>{{contact.hphone}}</td>
        </a>
      </tr>
    </table>
  </div>
</div>